<% if notice != nil %>
  <p id='notice' class="alert alert-success" role="alert">
    <%= notice %>
  </p>
<% end %>
<%= image_tag @destination.img.url(:medium) %>

<h1><%= @destination.city %>, <%= @destination.country %></h1>


<p><%= @destination.description%></p>

<div class="btn-group">
  <%= link_to 'Edit', edit_destination_path(@destination), class: 'btn btn-default' %>
  <%= link_to 'Back', destinations_path, class: 'btn btn-default' %>
  <%= link_to 'New Destination', new_destination_path, class: 'btn btn-primary' %>
</div>